@tailwind base;
@tailwind components;
@tailwind utilities;



/* Add these styles to your global CSS file or scoped styles */
/* Style the scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the handle on hover */
  }
  
  /* Hide the scrollbar */
  .overflow-y-auto::-webkit-scrollbar {
    display: none;
  }

 
  